@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: rgb(125, 126, 134);
  border-radius: 100vw;
  margin-block: -0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgb(233, 235, 236);
  border: .25em solid rgb(50, 50, 56);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 194, 204);
}

@media (max-width: 768px) {
  
  body::-webkit-scrollbar {
    width: 0 !important;
    background: transparent;
  }
}
